<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.notice-mapper">
	<!--  공지사항 올리기 : admin -->
	<insert id="noticeInsert" parameterType="NoticeVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM notice
		</selectKey>
		INSERT INTO notice(no,type,subjcet,content)
		VALUES (#{no},#{type},#{subject},#{content})
	</insert>
	<!--  공지목록 출력 : admin/user -->
	<select id="noticeListData" resultType="NoticeVO" parameterType="hashmap">
		SELECT no,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday , hit , num
		FROM (SELECT no,subject,name,regdate , hit ,rownum as num 
				  FROM (SELECT no,subject,name,regdate, hit 
				  		    FROM notice ORDER BY no DESC )) 
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="noticeRowCount" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	<!--  공지 상세보기 : user -->
	<!--  공지 수정 : admin-->
	<!--  공지 삭제 : admin -->
</mapper>